:root{
    --primary-color:#181b3a;
    --secondary-color:#01d293;
    --body-color:#0b0c26;
    --heading-color:#fff;
    --small-text-color:#808191;
    --card-01-bg:linear-gradient(#ef621c,#e1424e);
    --card-02-bg:linear-gradient(#01d293,#56c57a);
    --card-03-bg: #725cff;
    --card-04-bg: #2884ff;
   
  }


  *{
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background: var(--body-color);
  }
  ul{
    
    list-style: none;
  }
  a{
    text-decoration: none;
    color: unset;
  }
  .main_layout{
    margin-left: 190px;
  }
  